{{>header}}
<section class="error">
    <img class="error--image" src="images/404.png" alt="this is the error page" />
    <p class="error--message">{{errmsg}}</p>
    <p class="error--sub-message">The page you are looking for is not available.</p>
    <a class="main--btn" href="/">Go Back</a>
</section>
{{>footer}}