{{>header}}

<main class="main">
    <div class="main--text">
        <h1 class="main--title">Hello, I'm Rahul</h1>
        <p>a Web developer. I enjoy creating websites and learning new things.
        </p>
        <a class="main--btn" href="https://rahulredfield-4cb96.web.app" target="_blank">My Portfolio</a>
    </div>

    <div class="about--right">
        <img class="about--image" src="images/alone.jpg" />
    </div>
    </div>
    </div>
</main>

{{>footer}}