{{>header}}

<main class="main">
    <div class="main--text">
        <p>Welcome to our weather app.</p>
        <h1 class="main--title">Get the weather info of your city</h1>
        <a class="main--btn" href="/weather">Check Now</a>
    </div>

    <div id="carousel" class="carousel">
        <div class="carousel-item">
            <img class="carousel-image active" src="./images/bg1.jpg" />
            <img class="carousel-image" src="./images/bg2.jpg" />
            <img class="carousel-image" src="./images/bg3.jpg" />
        </div>
    </div>
    </div>
</main>

<script src="./js/main.js"></script>

{{>footer}}